
body{
    background-color: #f09d90;
}
.pricing{
    text-align: center;
    color: #fff;
}
.pricing_item{
    width: 300px;
    background-color: #fff;
    border-radius: 14px;
}
.pricing_writing{
    color: black;
    text-align: center;
}
.pricing_title{
    color: black;
    text-align: center;
}
.pricing_text{
    color: lightpink;
    text-align: center;
}
.pricing{
    text-align: center;
    color: #fff;
}
.pricing_item{
    width: 350px;
    background-color: #fff;
    border-radius:14xp;
}
.pricing_title{
    color: black;
    text-align: center;
}
.pricing_writing{
    color: black;
    text-align: center;
}

.pricing_text{
    color: lightpink;
    text-align: center;
}
.pricing{
    text-align: center;
    color: #fff;
}
.pricing_item{
    width: 350px;
    background-color: #fff;
    border-radius:14xp;
}
.pricing_title{
    color: black;
    text-align: center;
}
.pricing_writing{
    color: black;
    text-align: center;
}

.pricing_text{
    color: lightpink;
    text-align: center;
}